@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter.ttf') format('truetype'),
		url('https://sorting-the-colors.vercel.app/fonts/Inter.ttf') format('truetype');
}
@font-face {
	font-family: 'Ubuntu Mono';
	src: url('fonts/UbuntuMono.ttf') format('truetype');
}
.complete {
	font-family: -apple-system, Inter, Helvetica, Arial, ui-sans-serif, sans-serif;
}

html.dark .complete code {
	background: black;
}

.complete code {
	font-family: 'Ubuntu Mono', monospace;
	background: rgb(95% 95% 95%);
	padding: 10px;
	border-radius: 5px;
}

.toast {
	max-width: 40rem !important;
}
